<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="keywords" content="js, cv, ususario, php, api">
        <meta name="description" content="" >
        <meta name="author" content="MejoraCit">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0 minimum-scale=1.0" >
        <title>Jugar</title>

        <script src="https://kit.fontawesome.com/6911c1abd9.js" crossorigin="anonymous"></script>

        <script src="js/functions.js"></script>
        <link href="css/main-page.css" rel="stylesheet" title="Estilos vista" />
        <link href="css/styles.css" rel="stylesheet" title="Estilos base" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="reportes" *ngFor="let reporte of reportes">
            <a [title]="reporte.name + ' description'" (click)="details(reporte.id)">
        
            <div class="container">
                <div class="data">
                <h2>
                    {{ reporte.name }}
                </h2>
        
                <p class="description">
                    {{ reporte.description }}
                </p>
        
                <div *ngIf="reporte.status == 'Registrado'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <p class="status" style="background: #C20303"> {{ reporte.status }} </p>
                </ng-template>
                <ng-template #elseBlock>
                    <p class="status" style="background: #2BD639"> {{ reporte.status }} </p>
                </ng-template>
        
                <p class="veces_reportado">
                    Veces reportado: {{ reporte.veces_reportado }}
                </p>
                </div>
        
                <div class="mapa">
                <img src="assets/mapa.png" alt="">
                </div>
        
            </div>
            </a>
            <hr>
        </div>
        <!-- <div>
        
            <p>Hello! Your IP address is: {{ipAddress}}. You live in {{city}} in {{region}}, {{country}}</p>
        
        </div> -->
        
        <div style="height: 40px;"></div>
        
        <button [routerLink]="['/report']">
            Registrar un nuevo problema
        </button>
    </body>
</html>